.trail {
  border: 1px solid black;
}

.diagnostics {
  padding: 1rem;
  top: 122px;
  left: 417px;
  width: 766px;
  height: 673px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.diagnosis-header p {
  text-align: left;
  letter-spacing: 0px;
  color: #072635;
  opacity: 1;
  font-weight: 800;
}

.visualization {
  /* Layout Properties */
  top: 215px;
  left: 437px;
  width: 726px;
  height: 298px;
  margin-top: 1rem;
  /* UI Properties */
  background: #f4f0fe 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 1;
}

.visualizatio-heading {
  margin:  8px;
}
.canvas-container canvas {
  width: 600px !important;
  height: 300px !important;
}

line {
  top: 283px;
  left: 483px;
  width: 400px;
  height: 150px;
}

.other-info {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 726px;
  height: 298px;
  margin-top: 1rem;
}

