.diagnostic-list {
  padding: 1rem;
  margin-top: 2rem;
  top: 122px;
  left: 417px;
  width: 766px;
  height: 673px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 16px;
  opacity: 1;
}

.heading {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.diagnostic-item-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  text-align: left;

}

.diagnostic-item-header p {
  margin: 0;
  flex: 1;
  text-align: left;
  padding-left: 32px;
}



.header-background {
  /* Layout Properties */
  top: 920px;
  left: 437px;
  width: 726px;
  height: 48px;
  /* UI Properties */
  background: #f6f7f8 0% 0% no-repeat padding-box;
  border-radius: 24px;
  opacity: 1;
  display: flex;
  align-items: center;
  padding: 0px, 16px;
}

.diagnostic-item {
  display: flex;
  flex-direction: column;
  top: 978px;
  left: 437px;
  width: 723px;
  height: 59px;
  /* UI Properties */
  background: var(--unnamed-color-ffffff) 0% 0% no-repeat padding-box;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
}

